{% extends "polymer.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block section %}
<div horizontal center-justified layout>
  <section vertical center-justified layout>
<h1>{% trans "Account Inactive" %}</h1>

<p>{% trans "This account is inactive." %}</p>
</section>
{% endblock %}
