{% extends 'polymer.html' %}
{% load i18n %}
{% load account %}
{% load url from future %}
{% load socialaccount %}


{% block title %} Login {% endblock %}

{% block body %}

<div class="row">
<div class="small-12 large-8 large-centered columns">
    <h4>Sign In Securely with a Third Party Account</h4>
    <div class="divider" style="margin-bottom:20px;"></div>
    {% for provider in socialaccount.providers %}
      <a href="{% provider_login_url provider.id process=process %}" class="btn wave-effect wave-light">
        Sign in with {{provider.name}}
      </a>
    {% endfor %}
</div>
</div>
{% endblock %}