{% extends "polymer.html" %}

{% load url from future %}
{% load i18n %}

{% block title %} Logout {% endblock %}
{% block pageTitle %} Logout {% endblock %}

{% block body %}

<div class="row">
<div class="small-12 large-8 large-centered columns">
	<h1>{% trans "Sign Out" %}</h1>

	<p>{% trans 'Are you sure you want to sign out?' %}</p>

		<form method="post" action="{% url 'account_logout' %}">
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
		  {% endif %}
		  <button type="submit" class="btn wave-effect wave-light">{% trans 'Yes' %}</button>
		  <a href="{% url 'home' %}" class="btn wave-effect wave-light white black-text">{% trans 'No' %}</a>
		</form>
</div>
</div>
{% endblock %}
