{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block body %}
<div class="row">
<div class="small-12 large-8 large-centered columns">
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. The email was sent to the Email Address you have on file at the respective Third Party Account provider.
    </p>
    <p>Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
</div>
{% endblock %}
