{% extends 'polymer.html' %}
{% load i18n %}
{% block title %} {{ flatpage.title }} {% endblock %}

{% load static %}

{% block body %} 
<div class="row">
    <div class="small-12 large-8 large-centered columns">
    <h4>{{ flatpage.title }}</h4>
    <hr>
    <p>
        {{ flatpage.content }}
    </p>
    </div>
</div>
{% endblock %}