{% load imagekit %}
<div class="card {% if object.stolen %}red {% else %} green {% endif %}">
    <div class="card-image waves-effect waves-block waves-light">
        {% thumbnail '880x480' object.photo -- class="activator" %}

    </div>
    <div class="card-content">
        <span class="card-title activator white-text text-darken-4">{{ object.device }} <i class="mdi-navigation-more-vert right"></i></span>
        <p>Identifier: {{ object.slug }}</p>
    </div>
    <div class="card-reveal">
        <div class="border-top:3px solid red"></div>
        <span class="card-title grey-text text-darken-4"><a href="{% url 'detail' object.slug %}">{{ object.device }} </a><i class="mdi-navigation-close right"></i></span>
        <p>{{ object.slug }}</p>
        <p>{{ object.description }}</p>
        <div class="divider"></div>
        <p>Posted by: {{ object.created_by|title }}</p>
        <p>On: {{ object.pub_date }}. <br/>
        <p>Last update: {{ object.update_on }}</p>
        <div class="card-action">
            {% if object.created_by == request.user %}
            <a href="{% url 'edit' object.slug %}" class="waves-effect waves-light btn white-text">Edit</a>
            <a href="{% url 'delete' object.slug %}" class="waves-effect waves-light white-text red lighten-2 btn">Delete</a> {% endif %}
        </div>
    </div>
</div>
