{% load static %}
{% load compress %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
<script src="{% static 'js/jquery.cookie.js'%}"></script>
<script src="{% static 'js/materialize.js'%}"></script>
<script src="{% static 'js/angular.min.js'%}"></script>
<script src="{% static 'js/angular-route.min.js'%}"></script>
<script src="{% static 'js/angular-resource.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/init.js'%}"></script>
{% for i in statics %}
  {{ i.plugins|safe }}
{% endfor %}
{% endcompress %}