<div class="row" style="padding-top:10px;">
  <div class="large-10 large-centered columns">
  <a class='dropdown-button btn blue lighten-1' href='#' data-activates='dropdown1'> Menu </a>
  <ul id='dropdown1' class='dropdown-content' style="z-index: 200;">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'home' %}">Search</a></li>
    <li><a href="{% url 'add' %}">Add Item</a></li>
    <li><a href="{% url 'mylist' %}">My List</a></li>
    <li><a href="{% url 'postman_inbox' %}">My Msgs</a></li>
    <!-- <li><a href="#">My Inbox</a></li> -->
    <li class="divider"></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'myAccount' %}">My Account</a></li>
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'account_login' %}">Login</a></li>
    {% endif %}
    <li class="divider"></li>
  </ul>
  <a class='dropdown-button btn white lighten-1 black-text right' href='#' data-activates='dropdown2'> About </a>
  <ul id='dropdown2' class='dropdown-content' style="z-index: 200;">
    <li><a href="#HowMenphaWorks" class="modal-trigger">How Menpha works</a></li>
    <li><a href="/pages/about/">About Menpha</a></li>
    <li><a href="/pages/help/">Help</a></li>
    <li><a href="/pages/privacy/">Privacy</a></li>
  </ul>
  </div>
</div>
<div class="divider blue dark-1"></div>