{% extends 'polymer.html' %}
{% load url from future %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block body %}
<div class="row">
    <div class="small-12 large-6 medium-8 large-centered columns">
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
    {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

    {{ form.errors }}
    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
      {% csrf_token %}

      {{ form.username}}
      {{ form.email }}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <p>
        By signing up, you agree to the <a href="{% url 'privacy' %}" target="new">Privacy terms of the website</a>
      </p>
      <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
</div>
</div>
{% endblock %}
