<!DOCTYPE html>
<html>
{% load i18n %}
{% load postman_tags %}
{% load static %}
<head>
<title>{% block title %} Messaging {% endblock %}</title>
{% include 'include/stylesheets.html' %}
</head>

<body>
{% include 'include/navlist.html' %}
<div class="row">
    <div class="small-12 large-3 columns">
{% block postman_menu %}
<ul id="postman_menu">{% postman_unread as unread_count %}
 <li><a href="{% url 'postman_inbox' %}" class="btn wave-effect wave-light white-text">{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
 <div class="divider" style="margin:5px 5px;"></div>
 <li><a href="{% url 'postman_sent' %}" class="btn wave-effect wave-light white-text">{% trans "Sent Messages" %}</a></li>
<div class="divider" style="margin:5px 5px;"></div>
 <li><a href="{% url 'postman_write' %}" class="btn wave-effect wave-light white-text">{% trans "Write" %}</a></li>
 <div class="divider" style="margin:5px 5px;"></div>
 <li><a href="{% url 'postman_archives' %}" class="btn wave-effect wave-light white-text">{% trans "Archives" %}</a></li>
 <div class="divider" style="margin:5px 5px;"></div>
 <li><a href="{% url 'postman_trash' %}" class="btn wave-effect wave-light white-text">{% trans "Trash" %}</a></li>
</ul>
{% endblock %}
</div>


<div class="small-12 large-9 columns">
{% block content %}
{% endblock %}
</div>
</div>
</body>
{% include 'include/javascripts.html' %}
</html>