{% extends "postman/base.html" %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
{% if autocompleter_app.is_active %}
{# dj v1.4 #}{% load static %}
<script type="text/javascript"src="
{# using the available admin jQuery is enough: #}
 {# dj v1.4 #}{% static 'admin/js/jquery.min.js' %}
 {# dj v1.2/3 #}{# {% load adminmedia %}{% admin_media_prefix %}js/jquery.min.js #}
{# unless you really want your own: #}
 {# dj v1.2 #}{# {{ MEDIA_URL }}js/jquery.min.js #}
"></script>
{% if autocompleter_app.name == "ajax_select" %}{% if autocompleter_app.version == "1.1.4" or autocompleter_app.version == "1.1.5" %}<script type="text/javascript" src="{% static 'js/jquery.autocomplete.min.js' %}
"></script>
<link type="text/css" media="all" rel="stylesheet" href="{% static 'css/jquery.autocomplete.css' %}
" />{# else: for version 1.2.x use AJAX_SELECT_BOOTSTRAP + AJAX_SELECT_INLINES or arrange to include jqueryUI/js/css #}{% endif %}{% endif %}
{% endif %}
{% endblock %}
{% block content %}
<div id="postman">
<h1>{% block pm_write_title %}{% endblock %}</h1>
<form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}
<table>
{% block pm_write_recipient %}{% endblock %}
<!-- {{ form.as_table }} -->
      <form class="col s12 z-depth-3" style="padding:20px;" action="." method="post" id="post-form" enctype="multipart/form-data">{% csrf_token %}
      {{ form.errors }}
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi-communication-stay-primary-landscape prefix"></i>
            <input id="icon_prefix" type="text" id="id_recipients" name="recipients" {% if form.recipients.value %}value="{{ form.recipients.value }}" {% endif %} class="validate" required>
            <label for="icon_prefix">Recipient</label>
          </div>
          <div class="input-field col s12">
            <i class="mdi-editor-border-color prefix"></i>
            <input id="icon_telephone" type="text" id="id_subject" name="subject" {% if form.subject.value %}value="{{ form.subject.value }}" {% endif %} class="validate" required>
            <label for="icon_telephone">Subject</label>
          </div>
            <div class="input-field col s12">
              <i class="mdi-editor-mode-edit prefix"></i>
              <textarea id="icon_prefix2" class="materialize-textarea" id="id_body" required name="body"></textarea>
              <label for="icon_prefix2">Enter message here</label>
            </div>
            <div class="col s3" style="margin-top:20px;">
              <button type="submit" name="Submit" class="btn waves-effect waves-light"/>
              <i class="mdi-content-send left"></i>
              {% trans 'Send' %}
            </div>
            <div class="col s3" style="margin-top:20px;">
              <a href="{% url 'postman_inbox' %}" class="btn waves-effect waves-red red white-text">Cancel</a>
            </div>
        </div>
      </form>
</table>
</form>
</div>
{% endblock %}