{% extends "postman/base.html" %}
{% load i18n %}{% load postman_tags %}
{% block content %}
<div id="postman">
<h3>{% if pm_messages|length > 1 %}{% trans "Conversation" %}{% else %}{% trans "Message" %}{% endif %}</h3>
{% for message in pm_messages %}
<div class="pm_message{% if message.is_pending %} pm_pending{% endif %}{% if message.is_rejected %} pm_rejected{% endif %}{% if message.sender == user and message.sender_archived or message.recipient == user and message.recipient_archived %} pm_archived{% endif %}{% if message.sender == user and message.sender_deleted_at or message.recipient == user and message.recipient_deleted_at %} pm_deleted{% endif %}{% if message.recipient == user and not message.read_at %} pm_unread{% endif %} z-depth-2" style="padding:15px;"> 
 <div class="pm_header">
  <span class="pm_sender">{{ message.obfuscated_sender|or_me:user }}</span> &raquo;
  <span class="pm_recipient">{{ message.obfuscated_recipient|or_me:user }}</span> |
  <span class="pm_date">{{ message.sent_at|date:"DATETIME_FORMAT"}}</span>
  <div class="divider"></div>
  <span class="pm_subject"><h5>{{ message.subject }}</h5></span>
  <div class="divider" style="margin-bottom:10px;"></div>
{% if message.is_rejected %}  
<div class="pm_status">{% trans "Rejected" %}{% if message.moderation_reason %}{% trans ":" %} {{ message.moderation_reason }}{% endif %}</div>{% endif %}
 </div>
 <div class="pm_body">{{ message.body|linebreaksbr }}</div>
</div>
<div class="divider" style="margin:20px;"></div>
{% if forloop.last %}
<form action="" method="post" class="z-depth-2" style="padding:15px;">{% csrf_token %}
<input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
<a href="{{ next_url }}" class="waves-effect waves-teal btn-flat mdi-hardware-keyboard-backspace">{% trans "Back" %}</a>
<span id="pm_buttons">
<button type="submit" class="btn red waves-effect waves-light white-text mdi-action-delete" onclick="this.form.action='{% url 'postman_delete' %}?next={{ next_url|urlencode }}'">{% trans "Delete" %}</button>
{% if not archived %}<button type="submit" class="btn waves-effect waves-light white-text mdi-content-archive" onclick="this.form.action='{% url 'postman_archive' %}?next={{ next_url|urlencode }}'">{% trans "Archive" %}</button>{% endif %}
</span>
{% if reply_to_pk %}<a href="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}" class="waves-effect waves-teal btn-flat mdi-content-reply">{% trans "Reply" %}</a>{% endif %}
</form>
{% if reply_to_pk %}
<div class="divider" style="margin:20px;"></div>
<h5>{% trans 'Quick reply' %}</h5>
<form action="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post">{% csrf_token %}
<!-- <div id="pm_reply">{{ form.body }}</div> -->
<div class="input-field col s12">
  <i class="mdi-editor-mode-edit prefix"></i>
  <textarea id="icon_prefix2" class="materialize-textarea" id="id_body" required name="body"></textarea>
  <label for="icon_prefix2">Enter message here</label>
</div>
<button type="submit" class="btn waves-effect waves-light mdi-content-reply">{% trans 'Reply' %}</button>
</form>{% endif %}
{% endif %}
{% endfor %}
</div>
{% endblock %}