{% extends 'polymer.html' %}
{% block title %} Something's wrong {% endblock %}

{% block body %}
<div class="row">
    <div class="small-12 large-8 large-centered columns">
        <p>
			<strong>404</strong> That's a Page Not Found
		</p>
		<p> The requested URL was not found on my system. <span style="color:#666;">That’s all I know</span></p>
		{% include 'links_url.html' %}
	</div>
</div>
{% endblock %}