{% extends 'polymer.html' %}

{% block title %} Your Account {% endblock %}

{% block pageTitle %} {{request.user|title}}'s Account {% endblock %}
{% block body %}


<div class="row">
    <div class="small-12 large-8 large-centered columns">
         <h5>Your username is <strong>{{object.username|title}}</strong></h5>
         <p>
           You have a simple profile. Since your account on Menpha is connected to either your Facebook or Google account, any changes you want done, such as change of password or username should be done, not here, but on the respective websites of the authentication providers.
        </p> 
        <hr>
        <a href="#HowMenphaWorks" class="modal-trigger btn waves-effect waves-light red white-text">How Menpha Works</a>
        <a href="/pages/about/" class="btn waves-effect waves-light blue white-text">About Menpha</a>
        <a href="/pages/help/" class="btn waves-effect waves-light green white-text">Help</a>
       </div>
  </div>

{% endblock %}
