{% extends 'polymer.html' %}
{% load static %}
{% block title %} Search Page {% endblock %}

{% block body %}
<div class="row">
    <div class="small-12 large-8 large-centered columns">
      <h2 style="text-align:center;">Add your item</h2>
      <hr>
      <form class="col s12 z-depth-3" style="padding:20px;" action="." method="post" id="post-form" enctype="multipart/form-data">{% csrf_token %}
      {{ form.errors }}
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi-communication-stay-primary-landscape prefix"></i>
            <input id="icon_prefix" type="text" id="device" name="device" {% if form.device.value %}value="{{ form.device.value }}" {% endif %} class="validate" required>
            <label for="icon_prefix">Device Name</label>
          </div>
          <div class="input-field col s12">
            <i class="mdi-editor-border-color prefix"></i>
            <input id="icon_telephone" type="tel" id="slug" name="slug" {% if form.slug.value %}value="{{ form.slug.value }}" {% endif %} class="validate" required>
            <label for="icon_telephone">Unique Code</label>
          </div>
            <div class="input-field col s12">
              <i class="mdi-editor-mode-edit prefix"></i>
              <textarea id="icon_prefix2" class="materialize-textarea" id="description" required name="description"></textarea>
              <label for="icon_prefix2">Enter Short Description (less than 500 characters)</label>
            </div>
            <div class="file-field input-field col s12">
              <input class="file-path validate" type="text" />
              <div class="btn">
                <span>File</span>
                <input type="file" id="photo" name="photo" />
              </div>
            </div>
            <div class="col s12" style="margin-top:20px; margin-bottom:25px;">
              <input type="checkbox" id="stolen" name="stolen" />
              <label for="stolen">Device is stolen</label>
            </div>
            <div class="col s12" style="margin-top:20px;">
              <button type="submit" name="Submit" class="btn waves-effect waves-light"/>
              <i class="mdi-content-send left"></i>
              Submit</div>
              <a href="{% url 'home' %}" class="btn waves-effect waves-red red white-text right">Cancel</a>
            </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}