{% extends 'polymer.html' %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block pageTitle %} Blog {% endblock %}

{% block importMore %}
	<link rel="stylesheet" href="{% static 'css/foundation.css'%}" />
	<script src="{% static 'js/vendor/modernizr.js'%}"></script>

{% endblock %}

{% block section %}
<style type="text/css">
	.intro {
		width:100px;
		border: 1px solid grey;
	}

	.content {
		width:600px;
		height:100px;
		border:1px solid grey;
	}

	.container {
		width: 100%;
	}

	a.blog {
		text-decoration: none;
		border-bottom:1px dotted grey;
		color:#666;
	}
</style>
<div class="row">
	<div class="small-12 columns large-10 large-centered">
	{% if list %}
		{% for i in list %}
			<div class="small-12 large-3 columns">
				<paper-shadow style="padding:10px;">
					<h5>
						Last update: <br><span style="font-weight:normal">{{i.pub_date|timesince}} ago</span>
					</h5>
					<p>
						Written by {{i.created_by|title}}
					</p>
				</paper-shadow>
			</div>

			<div class="small-12 large-9 columns">
				<paper-shadow style="padding:10px; margin-bottom:20px;">
					<div horizontal layout reverse>
						<div flex>
							<h3>
								<a href="{% url 'blog_detail' i.slug %}" class="blog" title="Read full article">{{i.title}}</a>
							</h3>
						</div>
						<div>
							<paper-icon-button icon="open-in-new" style="margin-top:12px;"></paper-icon-button>
						</div>
					</div>
					<p>
						{{i.body|truncatechars:'250'|safe}}
					</p>
					<a href="{% url 'blog_detail' i.slug %}">
					<paper-button raised style="width:auto; text-transform:capitalize">
					continue reading</paper-button>
					</a>
				</paper-shadow>
			</div>
		{% endfor %}
	{% else %}
		Nothing in blog list 
	{% endif %}
	</div>
</div>
{% endblock %}