{% extends 'polymer.html' %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block pageTitle %} Blog {% endblock %}

{% block importMore %}
	<link rel="stylesheet" href="{% static 'css/foundation.css'%}" />
	<script src="{% static 'js/vendor/modernizr.js'%}"></script>
{% endblock %}

{% block section %}
<style type="text/css">
	.intro {
		width:100px;
		border: 1px solid grey;
	}

	.content {
		width:600px;
		height:100px;
		border:1px solid grey;
	}

	.container {
		width: 100%;
	}

	a.blog {
		text-decoration: none;
		border-bottom:1px dotted grey;
		color:#666;
	}
</style>
<div class="row">
	<div class="small-12 columns large-11 large-centered">
		<div class="small-12 large-3 columns">
			<paper-shadow style="padding:10px; margin-bottom:10px;">
				<h5>
					Last update: <br><span style="font-weight:normal">{{detail.pub_date|timesince}} ago</span>
				</h5>
				<p>
					Written by {{detail.created_by|title}}
				</p>
			</paper-shadow>
			<paper-shadow style="padding:10px; margin-bottom:10px;">
				<h5>
					Share:
				</h5>
				<p>
				<!-- Place this tag where you want the +1 button to render. -->
				<div class="g-plusone"></div>
				</p>
			</paper-shadow>
		</div>

		<div class="small-12 large-9 columns">
			<paper-shadow style="padding:10px; margin-bottom:20px;">
				<div horizontal layout reverse>
					<div flex>
						<h3>
							<a href="{{ get_absolute_url }}" class="blog">{{detail.title}}</a>
						</h3>
					</div>
					<div>
						<paper-icon-button icon="open-in-new" style="margin-top:12px;"></paper-icon-button>
					</div>
				</div>
				<p>
					{{detail.body|safe}}
				</p>

			</paper-shadow>

			<paper-shadow style="padding:10px; margin-bottom:20px;">

			    <div id="disqus_thread"></div>
			    <script type="text/javascript">
			        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			        var disqus_shortname = 'menpha'; // required: replace example with your forum shortname

			        /* * * DON'T EDIT BELOW THIS LINE * * */
			        (function() {
			            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			        })();
			    </script>
			    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			    
			</paper-shadow>
		</div>
	</div>
</div>
	<!-- Place this tag in your head or just before your close body tag. -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}