{% extends 'polymer.html' %}
{% load static %}
{% block title %} Detail Page {% endblock %}

{% block body %}

<div class="row">
    <div class="large-8 large-centered columns">     
    {% include 'include/card.html' %}
    </div>
</div>
{% endblock %}