{% extends 'polymer.html' %}
{% load static %}
{% block title %} Search Page {% endblock %}

{% block body %}
  <div class="row">
    <div class="small-12 medium-8 medium-centered large-8 large-centered columns">
      <h2 style="text-align:center;">Search</h2>

      <form class="col s12 z-depth-3" style="padding:20px;" action="{% url 'search' %}" method="GET">
        <div class="row">
          <div class="input-field col s9">
            <i class="mdi-action-search prefix"></i>
            <input id="icon_prefix" type="text" name="query" id="query" class="validate" required>
            <label for="icon_prefix">Enter 00000000 to search</label>
          </div>
          <div class="col s3">
          <button type="submit" class="btn-floating btn-large waves-effect waves-light blue"><i class="mdi-content-send"></i></button>
          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock %}