{% extends 'polymer.html' %}
{% load i18n %}
{% block title %} Confirm box {% endblock %}

{% block body %}

<div class="row">
    <div class="small-12 large-8 large-centered columns">
		<form method="post" action="." id="form"> {% csrf_token %}
			<h3>Do you wanna delete "{{ to_delete }}"? </h3>
			<a href="{% url 'detail' to_delete.slug %}" class="btn waves-light waves-effect green white-text">Don't Delete </a>
			<button type="submit" class="btn waves-light waves-effect red white-text">Delete</button>
		</form>
	</div>
</div>
{% endblock %}