{% extends 'polymer.html' %}
{% load static %}
{% block title %} Search Page {% endblock %}

{% block body %}
<div class="row">
    <div class="small-12 large-8 large-centered columns">
      <h2 style="text-align:center;">Add you Item</h2>
      <hr>
      <form class="col s12 z-depth-3" style="padding:20px;" action="." method="post" id="post-form" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi-action-account-circle prefix"></i>
            <input id="icon_prefix" type="text" id="device" name="device" value="{{ form.device.value }}" class="validate" required>
            <label for="icon_prefix">Device Name</label>
          </div>
          <div class="input-field col s12">
            <i class="mdi-communication-phone prefix"></i>
            <input id="icon_telephone" type="tel" id="slug" name="slug" value="{{ form.slug.value }}" class="validate" required>
            <label for="icon_telephone">Unique Code</label>
          </div>
            <div class="input-field col s12">
              <i class="mdi-editor-mode-edit prefix"></i>
              <textarea id="icon_prefix2" class="materialize-textarea" id="description" required name="description">{{ form.description.value }}</textarea>
              <label for="icon_prefix2">Enter Short Description</label>
            </div>
            <div class="file-field input-field col s12">
              <input class="file-path validate" type="text"/>
              <div class="btn">
                <span>File</span>
                <input type="file" id="photo" name="photo" />
              </div>
            </div>
            <div class="col s12" style="margin-top:20px; margin-bottom:25px;">
              <input type="checkbox" id="stolen" {% if form.stolen.value == True %}checked{% endif %} name="stolen" />
              <label for="stolen">Device is stolen</label>
            </div>
            <div class="col s12">
              <button type="submit" class="btn waves-effect waves-light">Update</button>
              <a href="{% url 'detail' form.slug.value %}" class="btn waves-effect waves-red white black-text right">Cancel</a>
            </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}