{% extends 'polymer.html' %}
{% load static %}
{% block title %} Detail Page {% endblock %}

{% block body %}
  <h2 style="text-align:center;">My List</h2>
  <div class="row">
    {% for object in object_list %}
      <div class="col s12 m6 l6">
        {% include 'include/card.html' %}
      </div>
    {% empty %}
    <div class="small-12 large-centered large-6 medium-6 medium-centered columns">
      <h5 style="text-align:center;">No items in your list.</h5>
      <center><a href="{% url 'add' %}" class="waves-effect wave-light btn">Add an item</a></center>
    </div>
    {% endfor %}   
  </div>
{% endblock %}