{% extends 'polymer.html' %}
{% load i18n %}
{% block title %} Confirm box {% endblock %}

{% block body %}
<div class="row">
<div class="small-12 large-8 large-centered columns">
		<p> 
			<strong>Your message was successfully sent</strong> without any hitches. The receiver may choose to reply or not. Don't irritate the initial owner of this device. He or she might not even want it again.  
		</p>
		<p>
			Should the owner be interested in having the device back, you probably will receive a response to your email, and you can take it from there.
		</p>
		<a href="{% url 'intro' %}">
			<paper-button raised class="colored"> Home </paper-button>
		</a>
		<a href="{% url 'myList' %}">
			<paper-button> My List </paper-button>
		</a>
</div>
</div>

{% endblock %}