 {% extends 'polymer.html' %}

{% block title %} Add {% endblock %}
{% block pageTitle %} Manual Add {% endblock %}
{% block section %}
 <form is="ajax-form" method="post" action="/add/go/">{% csrf_token %}
             <input type="text" placeholder="Item name" name="device" required>
          
            <input type="text" placeholder="Item Unique Code" name="slug" required>    
            <select name="type_of_item">
                <option value="auto">Automobile </option>
                <option value="md"> Mobile</option>
                <option value="com"> Computer </option>
                <option value="da"> Domestic </option>
              </select> 
            <input type="text" placeholder="Describe Item" name="description">  

            <!--<paper-dropdown-menu selected="No" valueattr="label" name="stolen">
            <paper-item label="Yes" value="s"></paper-item>
            <paper-item label="No" value="ns"></paper-item>
            </paper-dropdown-menu>-->
            <paper-dropdown-menu name="stolen" selected="Choose" valueattr="stolen">
                <!--<paper-item icon="blank" label="Choose"></paper-item>
                <paper-item icon="check" label="Yes" name="yes"></paper-item>
                <paper-item icon="cancel" label="No" name="no"></paper-item>-->
                <option value="s">Yes </option>
                <option value="ns">No</option>
            </paper-dropdown-menu>

              <!--<select name="stolen">
                <option value="s">Yes </option>
                <option value="ns">No</option>
              </select>-->

             <input type="submit">

        </form>
        <paper-toast id="invalids" role="alert" text="Some form fields are invalid">
      </paper-toast>

      <paper-toast id="thanks" role="alert" text="Thanks!  Your choices have been submitted!">
      </paper-toast>      

      <paper-toast id="response" role="alert" text="Failed to submit">
      </paper-toast>
      <script>

        (function() {
            var form = document.getElementsByTagName('form')[0]
            form.addEventListener('invalid', function() {
                document.querySelector('#invalids').show()
            });
            
            form.addEventListener('submitting', function() {

            });
            
            form.addEventListener('submitted', function(event) {
                
                if (event.detail.status > 299) {
                    document.querySelector('#response').show()
                    console.log(event.detail.errors)
                }
                else {
                    document.querySelector('#thanks').show()
                }
            });
        }());
    </script>
    {% endblock %}