{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  {% for i in statics %}
    {{ i.meta_data|safe }}
  {% endfor %}
  <title>{% block title %} Page Title {% endblock %} :: Menpha</title>

  <!-- CSS  -->
{% include 'include/stylesheets.html' %}
</head>
<body>

{% include 'include/navlist.html' %}

<!-- Dropdown Trigger -->
<!-- Body Begins here -->
{% block body %}
Override Here
{% endblock %}
  <!-- Body Ends Here -->

  <!--  Scripts-->
{% include 'include/javascripts.html' %}
  <!-- Modal Structure -->
  <div id="HowMenphaWorks" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>How Menpha Works <small>click to play</small></h4>
      <div onclick="play();" id="vidwrap" style="height:315px;width:560px;background: black url('http://img.youtube.com/vi/1l63dOBNO-E/maxresdefault.jpg') no-repeat center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow:hidden;cursor:pointer;"></div><script type="text/javascript">function play(){document.getElementById('vidwrap').innerHTML = '<iframe width="560" height="315" src="http://www.youtube.com/embed/1l63dOBNO-E?autoplay=1&theme=light" frameborder="0"></iframe>';}</script>
    </div>
    <div class="modal-footer">
      <a href="/pages/about/" class="modal-action modal-close waves-effect waves-green btn-flat black-text">Tell me more</a>
      <a href="{% url 'add' %}" class="modal-action modal-close waves-effect waves-green white-text green btn-flat">Add Items</a>
    </div>
  </div>
  </body>

</html>
