<html>
<head>
	<title>Core-ajax to fetch from REST</title>
	<script type="text/javascript" src="../bower_components/platform/platform.js"></script>
	<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
</head>

<body>
	<core-ajax auto url="http://localhost:8000/snippets/" handleAs="json" params='{"format":"json"}'></core-ajax>
	<template repeat="{{response}}">
		<div> {{title.$t}}</div>
	</template>
	<script type="text/javascript">
		document.addEventListener('polymer-read', function() {
			var ajax = document.querySelector("core-ajax");
			ajax.addEventListener("core-response", 
				function(e) {
					document.querySelector('template').model = {
						response: e.detail.response
					};
				}
			);
		});
	</script>
</body>

</html>