{% extends 'polymer.html' %} 
{% load imagekit %}
{% block title %} {{query}} Search Result {% endblock %} 
{% block pageTitle %} Search {% endblock %} 

{% block body %}
<div class="row">
    <div class="small-12 medium-8 medium-centered large-6 large-centered columns">
            {% if query %} 
            	{% if object_list %} 
                    <h5 style="text-align:center;">Result found. The device below is reported stolen or lost.</h5>
                    <hr>
            		{% for object in object_list %}
			            <div class="card">
			                <div class="card-image waves-effect waves-block waves-light">
                                {% thumbnail '291x164' object.photo -- class="activator" %}

			                </div>
			                <div class="card-content red">
			                    <span class="card-title activator grey-text text-darken-4">{{ object.device }} <i class="mdi-navigation-more-vert right"></i></span>
			                    <p>{{ object.slug }}</p>
			                </div>
			                <div class="card-reveal">
			                    <span class="card-title grey-text text-darken-4">{{ object.device }} <i class="mdi-navigation-close right"></i></span>
			                    <p>{{ object.slug }}</p>
			                    <p>{{ object.description }}</p>
			                    <div class="divider"></div>
			                    <p>Reported by: {{ object.created_by }}</p>
			                    <div class="card-action">
			                        {% if object.created_by == request.user %}
			                        <a href="{% url 'edit' object.slug %}" class="waves-effect waves-light btn">Edit</a>
                                    <a href="{% url 'delete' object.slug %}" class="waves-effect waves-light btn">Delete</a> 
                                    {% else %}
			                        <a href="{% url 'postman_write' %}" class="waves-effect waves-light btn">Notify Owner</a> 
                                    {% endif %}
			                    </div>
			                </div>
			            </div>
			        {% endfor %}
			   	{% else %}
        <div class="card">
            <h3>No results could be returned.</h3> Why? Because no one with that unique code has the item stolen or missing. Yip-yip-yip, Hu-uu-rray! The world is a better place!
        </div>
        <hr>
        <div class="card">
            <h3>Or you searched for something wrong?</h3> Perhaps you typed the unique code wrong. Please try again.
        </div>
        {% endif %} 
        {% else %}
        <div class="card">
            <h3>You did search for nothing.</h3> Need help?
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
