{% extends 'polymer.html' %}
{% load i18n %}
{% load static %}

{% block title %} Notify Official Owner {% endblock %}

{% block body %}
<div class="row">
  <div class="small-12 large-8 large-centered columns">
  <h5 style="text-align:center;">
    You're sending a notification email to the owner of {{ object }}
  </h5>
	<form action="." method="post">{% csrf_token %}
        <div class="row">

          <div class="input-field col s12">
            <i class="mdi-communication-stay-primary-landscape prefix"></i>
            <input id="icon_prefix" type="text" value="Owner of above unique coded device" class="validate" disabled required>
            <label for="icon_prefix">To</label>
          </div>
          <div class="input-field col s12">
            <i class="mdi-communication-stay-primary-landscape prefix"></i>
            <input id="icon_prefix" type="text" id="subject" name="subject" class="validate" required>
            <label for="icon_prefix">Subject of your message</label>
          </div>
          <div class="input-field col s12">
            <i class="mdi-editor-mode-edit prefix"></i>
            <textarea id="icon_prefix2" class="materialize-textarea" id="message" required name="message" placeholder="Enter a message here to notify the owner of the device about the whereabouts of the device. Be discreet in doing so!"></textarea>
            <label for="icon_prefix2">Enter Short Message</label>
          </div>

          <!-- <div class="col s12">
            <input type="checkbox" id="cc" name="cc" />
            <label for="cc">Send copy to myself</label>
          </div> -->
          <div class="col s12" style="margin-top:20px;">
            <button type="submit" name="Submit" class="btn waves-effect waves-light"/>
            <i class="mdi-content-send left"></i>
            Submit
            </div>
            <a href="{% url 'mylist' %}" class="btn waves-effect waves-red red white-text right">Cancel</a>
          </div>
  </form>
  </div>
</div>
{% endblock %}
