<paper-button raised>
	<a href="#" class="share" onclick="toggleDialog('paper-dialog-transition-share')">Share</a>
</paper-button>

  <paper-dialog heading="Share with friends" transition="paper-dialog-transition-share" backdrop="true" style="width:100%;">
    <p>Keep Sharing</p>
    <!-- Place this tag where you want the share button to render. -->
	<div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60"></div>

	<!-- Place this tag after the last share tag. -->
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/platform.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
  </paper-dialog>